@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@media screen and (max-width: 350px) {
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    font-weight: 700;
    font-size: 45px;
    color: #00c2ff;
    text-align: center;
    z-index: 10;
    top: auto;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-x: hidden;
}

.navbar {
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.51);
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.navbar li {
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 999px;
}

.navbar li.active {
  border-radius: 10px;
  border-bottom: 2px solid hsl(245, 98%, 52%);
}

:root {
  --violet: #00ffff;
  --purple: #0047ff;
  --pink: #01c7ff;
  --radius: 1rem;
}
/* .logo-container {
    position: relative;
    
  } */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.Senslyzeimage {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  color: transparent;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 180px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  align-items: center;

  /* New styles for positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 300px) {
  .Senslyzeimage {
    font-size: 65px;
    top: 45%;
  }

  .button-container {
    display: none;
  }

  .channelize {
    top: 50%;
    right: 1%;
  }

  .wrapper {
    font-size: 30px;
  }

  .wrapper span:first-letter {
    font-size: 40px;
  }
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  color: azure;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.wrapper span:first-letter {
  font-size: 125px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  z-index: 10;
  top: auto;
}

#btn-text {
  background: linear-gradient(to right, #2ea6ec, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}

.text-grad {
  background: linear-gradient(to right, #2ea6ec, #ffffff);
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .button-container {
    display: none;
  }

  .Senslyzeimage {
    font-size: 80px;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    font-size: 40px;
  }

  .wrapper span:first-letter {
    font-size: 100px;
  }
}

#drawer {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #fff;
}
